{
  "singleQuote": false,
  "semi": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "printWidth": 80,
  "overrides": [
    {
      "files": "src/*.html",
      "options": {
        "printWidth": 100
      }
    }
  ]
}
