html,
body {
    width: 40ch;
    padding: 0px;
    margin: 0px;
    font-family: system-ui, sans-serif;
    font-size: 1rem;
}

section {
    border: 1px solid #ccc;
    padding: 0.25rem;
    margin: 0.25rem;
    border-radius: 3px;
    user-select: none;
}

section > label {
    display: block;
}

section > label[for] {
    cursor: pointer;
}

section > .range-output {
    display: flex;
    gap: 1ch;
}

section > .range-output > input[type="range"] {
    display: block;
    width: 100%;
    margin: 0;
}

section > .range-output > output {
    width: 7ch;
    font-family: monospace;
    text-align: right;
}

section.horizontal {
    display: flex;
}

section.horizontal > label {
    flex: 1;
}
