html,
body {
  user-select: none;
  width: 40ch;
}

main {
  margin: var(--page-margin);
  display: flex;
  flex-direction: column;
  gap: var(--page-margin);
}

section > label {
  display: block;
}

section > label[for] {
  cursor: pointer;
}

section > .range-output {
  display: flex;
  gap: 1ch;
}

section > .range-output > input[type="range"] {
  display: block;
  width: 100%;
  margin: 0;
}

input[disabled] + output {
  opacity: 0.5;
}

section > .range-output > output {
  width: 7ch;
  font-family: monospace;
  text-align: right;
}

section.horizontal {
  display: flex;
  align-items: center;
}

section.horizontal > label {
  flex: 1;
}
