main, footer {
  max-width: 70ch;
  width: 100%;
}

section {
  margin: var(--page-margin);
}

footer {
  margin: var(--page-margin);
}

dl {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-auto-rows: auto;
  gap: 0.5rem 0.5rem;
}

dt {
  display: flex;
  gap: 1ch;
}

dd {
  margin: 0;
  text-align: right;
  font-family: monospace;
}
